Labitec.LeadForce.API.Client/Service References/RequirementClientReference/Requirement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Requirement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52520/Requirement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52520/Requirement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequirement_GetRequirements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequirements" />
  </wsdl:message>
  <wsdl:message name="IRequirement_GetRequirements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequirementsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequirement_UpdateRequirement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequirement" />
  </wsdl:message>
  <wsdl:message name="IRequirement_UpdateRequirement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequirementResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequirement">
    <wsdl:operation name="GetRequirements">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequirement/GetRequirements" message="tns:IRequirement_GetRequirements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequirement/GetRequirementsResponse" message="tns:IRequirement_GetRequirements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirement">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequirement/UpdateRequirement" message="tns:IRequirement_UpdateRequirement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequirement/UpdateRequirementResponse" message="tns:IRequirement_UpdateRequirement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRequirement" type="tns:IRequirement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequirements">
      <soap:operation soapAction="http://tempuri.org/IRequirement/GetRequirements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirement">
      <soap:operation soapAction="http://tempuri.org/IRequirement/UpdateRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Requirement">
    <wsdl:port name="BasicHttpBinding_IRequirement" binding="tns:BasicHttpBinding_IRequirement">
      <soap:address location="http://localhost:52520/Requirement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>