Labitec.LeadForce.API.Client/Service References/ActionClientReference/Action.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Action" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52861/Action.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52861/Action.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAction_GetActions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActions" />
  </wsdl:message>
  <wsdl:message name="IAction_GetActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAction_CreateAction_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAction" />
  </wsdl:message>
  <wsdl:message name="IAction_CreateAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateActionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAction">
    <wsdl:operation name="GetActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAction/GetActions" message="tns:IAction_GetActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAction/GetActionsResponse" message="tns:IAction_GetActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAction/CreateAction" message="tns:IAction_CreateAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAction/CreateActionResponse" message="tns:IAction_CreateAction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAction" type="tns:IAction">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActions">
      <soap:operation soapAction="http://tempuri.org/IAction/GetActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAction">
      <soap:operation soapAction="http://tempuri.org/IAction/CreateAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Action">
    <wsdl:port name="BasicHttpBinding_IAction" binding="tns:BasicHttpBinding_IAction">
      <soap:address location="http://localhost:52861/Action.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>